In [23]:
import pandas as pd

print(pd.__version__)

2.2.2

In [24]:
d = {'hobi':['jogging', 'mancing', 'renang',
             'mancing', 'mancing', 'baca', 
             'baca', 'mancing', 'fotograsi', 
             'mancing', 'camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotograsi
9     mancing
10    camping

In [25]:
df['hobi'].value_counts()

hobi
mancing      5
baca         2
jogging      1
renang       1
fotograsi    1
camping      1
Name: count, dtype: int64

In [26]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

hobi
mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotograsi    0.090909
camping      0.090909
Name: proportion, dtype: float64

In [27]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'renang', 'fotograsi', 'camping'], dtype='object', name='hobi')

In [28]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [29]:
df['hobi'].value_counts(normalize=True)

hobi
mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: proportion, dtype: float64

In [30]:
data = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'],'jenis_kelamin':['L', 'L', 'P', 'P', 'L'],'umur':[20, 21, 19, 20, 22]}
df = pd.DataFrame(data)

In [31]:
df.to_csv('data_peserta.csv')

In [32]:
df = pd.read_csv('data_peserta.csv')

In [33]:
df.to_csv('data_peserta_tanpa_index.csv', index=False)
df = pd.read_csv('data_peserta_tanpa_index.csv')

In [34]:
import numpy as np

n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  1  7  9  3  1
1  3  4  4  9  2
2  8  9  5  2  9
3  1  7  9  6  6
4  1  9  4  1  2
5  6  4  8  4  2
6  3  2  3  9  4
7  6  1  3  5  1
8  6  6  9  9  1
9  8  7  5  8  3

In [35]:
df [df['A'] > 5].sum()

A    34
B    27
C    30
D    28
E    16
dtype: int64

In [36]:
df [df['A'] > 5].mean()

A    6.8
B    5.4
C    6.0
D    5.6
E    3.2
dtype: float64

In [37]:
data = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'],'jenis_kelamin':['L', 'L', 'P', 'P', 'L'],'umur':[20, 21, 19, 20, 22]}
df = pd.DataFrame(data)
df

    nama jenis_kelamin  umur
0   bejo             L    20
1   tejo             L    21
2   wati             P    19
3   tiwi             P    20
4  cecep             L    22

In [38]:
usia = df.pop('umur').to_frame()

In [39]:
df

    nama jenis_kelamin
0   bejo             L
1   tejo             L
2   wati             P
3   tiwi             P
4  cecep             L

In [40]:
print(usia)

   umur
0    20
1    21
2    19
3    20
4    22